.navbar-home,
footer {
    background-color: rgb(203, 8, 53);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    color: aliceblue;
}
.navbar-light .navbar-nav .active>.nav-link,
.nav-brand,
.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}
.carousel-inner {
    height: 70vh;
}
img {
    max-width: 100%;
}
.about-img {
    height: 400px;
}
.type .card:nth-child(1) img,
.type .card:nth-child(2) img {
    height: 250px;
}